.my-gold {
  color: $my-gold;
}

.my-bg-gold {
  background-color: $my-gold;
}

.my-b--gold {
  border-color: $my-gold;
}

.my-purple {
  color: $my-purple;
}

.my-bg-purple {
  background-color: $my-purple;
}

.my-b--purple {
  border-color: $my-purple;
}

/* my-dark-blue */

.my-dark-blue {
  color: $my-dark-blue;
}

.my-bg-dark-blue {
  background-color: $my-dark-blue;
}

.my-b--dark-blue {
  border-color: $my-dark-blue;
}

/* my-corso-red */

.my-corso-red {
  color: $my-corso-red;
}

.my-bg-corso-red {
  background-color: $my-corso-red;
}

.my-b--corso-red {
  border-color: $my-corso-red;
}

.menu-top {
  margin-top: -1rem;
}

.menu-bottom {
  margin-top: 0.7rem;
}

.box {
  /*  width: 100vw; */

  height: 100vh;
  background-image: url("../images/door.jpg");
  background-size: cover;
  background-position: center;
}

.bg-lg-black {
  background: linear-gradient(#0d0d0b, #000);
}

.shopinfo-h2 {
  padding: 0.5em;
  color: $my-dark-blue;
  border-bottom: solid 1px $my-dark-blue;
  border-left: solid 5px $my-dark-blue;
}

/* 駅名にをクリックすると路線名をトグル表示する */
.togglebox {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

@keyframes op {
  0% {
    background-color: rgba(0, 0, 0, 0);
    opacity: 0;
  }

  100% {
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 1;
  }
}

.toggletiptext {
  /*  visibility: hidden; */
  width: 12rem;

  /*  background-color: rgba(0, 0, 0, 0.8); */
  animation-name: op;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 5px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -40px;
}

/* 埼質連の歴史ページの年表をデザイン */
.history {
  border-left: 3px $my-dark-blue solid;
}

.history-year::before {
  content: '';
  width: 16px;
  height: 16px;
  background: $my-dark-blue;
  border-radius: 100%;
  position: absolute;
  top: 8px;
  left: -10px;
}

.history-year div:first-child {
  width: 6rem;
}

/* sticky サポート */
.sticky {
  position: sticky;
  top: 0;
}

/* scroll top button */
#scroll {
  position: fixed;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #e3be8a;
  text-indent: -9999px;
  display: none;
  border-radius: 100%;
}

#scroll span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -12px;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-bottom-color: #fff;
}

#scroll:hover {
  opacity: 0.8;
}
